{% extends "base.html" %} {% block mainbody %}

<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
        <script type="text/javascript" src="/static/js/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
        <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
</head>

    <div id="e586f0bd4a0843fa92b8cc6bc0aabc7d" class="chart-container" style="width:100%; height:650px;"></div>
    <script>

        function create_fun(){
            $.ajax({
                url:"/ajax_china_data",
                type:"GET",
                success: function (xhr) {
                    ans = xhr.ans;
                    data = [];
                    $.each(ans, function (i, c) {
                    data.push({
                        "name": c[0],
                        "value": c[1]
                    })

                    });

                ch = echarts.init(
                document.getElementById('e586f0bd4a0843fa92b8cc6bc0aabc7d'), 'white', {renderer: 'canvas'});

                var option_e586f0bd4a0843fa92b8cc6bc0aabc7d = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "map",
                        "name": "\u75ab\u60c5\u4eba\u6570\u5206\u5e03",
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8
                        },
                        "mapType": "china",
                        "data": data,
                        "roam": true,
                        "zoom": 1,
                        "showLegendSymbol": false,
                        "emphasis": {},
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u75ab\u60c5\u4eba\u6570\u5206\u5e03"
                        ],
                        "selected": {
                            "\u75ab\u60c5\u4eba\u6570\u5206\u5e03": true
                        },
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0
                },
                "title": [
                    {
                        "text": "\u4e2d\u56fd\u5730\u56fe",
                        "padding": 5,
                        "itemGap": 10
                    }
                ],
                "visualMap": {
                    "show": true,
                    "type": "continuous",
                    "min": 0,
                    "max": 3000,
                    "inRange": {
                        "color": [
                            "#50a3ba",
                            "#eac763",
                            "#d94e5d"
                        ]
                    },
                    "calculable": true,
                    "inverse": false,
                    "splitNumber": 5,
                    "orient": "vertical",
                    "showLabel": true,
                    "itemWidth": 20,
                    "itemHeight": 140,
                    "borderWidth": 0
                }
            };

            ch.setOption(option_e586f0bd4a0843fa92b8cc6bc0aabc7d)
                }
            });

        }


        create_fun();
        setInterval(function () {
            create_fun();
        }, 300000);


    </script>

{% endblock %}

