{% extends "base.html" %} {% block mainbody %}
<meta charset="UTF-8">
    <title>节点信息</title>
    <style>
        .jd{
            width:100%;
            height:120%;
            background-color:white;
            border:1px solid white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 3px 1px #949494;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--overview start-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header"><i class="fa fa-search"></i> 实体识别 </h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                        <li><i class="fa fa-search"></i>实体百科</li>
                    </ol>
                </div>
            </div>

            <div class="jd">
                <h3>实体名称：{{ name }}</h3>
                <h5>实体类别：{{ node_class }}</h5>
                <p>基本信息：</p>
                <table>
                    {% for key, value in properties.items %}
                        <tr><td>{{ key }}： {{ value }}</td></tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}
