{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--overview start-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header"><i class="fa fa-search"></i> 实体识别 </h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                        <li><i class="fa fa-search"></i>实体识别</li>
                    </ol>
                </div>
            </div>

            <section class="panel panel-default">
                <header class="panel-heading">
                    输入文本 :
                </header>
                <div class="panel-body">

                        <div class="form-group">

                            <textarea  id="txt" type="text"  class="form-control" placeholder="Enter text" style="height:140px"> </textarea>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button id='input_btn'  class="btn-primary btn-lg btn-block"> 提交！ </button>
                        </div>
                        <div class="col-md-4"></div>

                </div>
            </section>
            <!--collapse start-->
            <div class="panel-group m-bot20" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    [查看识别结果]
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div id = "st" class="panel-body">


                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    [查看分词结果]
                            </a>

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div id="fc" class="panel-body">

                        </div>
                    </div>
                </div>

            </div>
            <!--collapse end-->

        </div>

    </div>
</div>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script>

        $('#input_btn').click(function () {
            $.ajax({
                url:"/nlpltp",
                type:"GET",
                data:"text="+$("#txt").val(),
                success: function (xhr) {
                    fc = "<h5>"+xhr.nlp_fc+"</h5>";
                    st = "<h5>"+xhr.nlp_st+"</h5>";

                    $("#fc").empty().append(fc);

                     $("#st").empty().append(st);


                }
            })

        })
    </script>


{% endblock %}